<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
    <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
  -->
    <InstrumentationKey>9a34341cfe124b03aa08d40e6c802db3</InstrumentationKey>
</ApplicationInsights>
